* {
  all: unset; 
  font-family: "IBM Plex Mono";
  font-size: 14px;
}

.sys_panel_border {
  background: linear-gradient(180deg, rgba(0, 150, 0, 0.75), black);
  padding: 1px;
}

.sys_panel {
  color: #FFFFFF;
  background-color: #000000;
  padding: 2px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: "#009600";
}

