* {
  all: unset; 
  font-family: "IBM Plex Mono";
  font-size: 14px;
}

.sys_panel {
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff9966;
}
